pkgbase = ipmitool
	pkgdesc = Command-line interface to IPMI-enabled devices
	pkgver = 1.8.13
	pkgrel = 1
	url = http://ipmitool.sourceforge.net
	changelog = ChangeLog
	arch = i686
	arch = x86_64
	license = BSD
	depends = openssl
	source = http://downloads.sourceforge.net/project/ipmitool/ipmitool/1.8.13/ipmitool-1.8.13.tar.bz2
	md5sums = 64f36baea740f701c5f287805da968a2

pkgname = ipmitool

