pkgbase = fontconfig-ubuntu
	pkgdesc = A library for configuring and customizing font access, with Ubuntu's LCD rendering patches.
	pkgver = 2.10.2
	pkgrel = 3
	url = https://launchpad.net/ubuntu/precise/+source/fontconfig
	install = fontconfig.install
	arch = i686
	arch = x86_64
	license = custom
	depends = expat>=2.0.1
	depends = freetype2-ubuntu>=2.3.11
	provides = fontconfig=2.10.2
	conflicts = fontconfig
	options = !libtool
	source = http://archive.ubuntu.com/ubuntu/pool/main/f/fontconfig/fontconfig_2.10.2.orig.tar.bz2
	source = http://archive.ubuntu.com/ubuntu/pool/main/f/fontconfig/fontconfig_2.10.2-0ubuntu2.debian.tar.gz
	source = 53-monospace-lcd-filter.patch
	md5sums = 2f239690057d1438aa282e051f721d08
	md5sums = fbb37f7a4208239be5b97472888a81bf
	md5sums = a17e48be6a06bc056574be6756cb9738

pkgname = fontconfig-ubuntu

