pkgbase = polkit-gnome-gtk2
	pkgdesc = PolicyKit integration for the GNOME desktop, compiled against GTK2
	pkgver = 0.105
	pkgrel = 1
	url = http://www.freedesktop.org/wiki/Software/PolicyKit
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = intltool
	makedepends = gobject-introspection
	depends = polkit
	depends = gtk3
	conflicts = polkit-gnome
	options = !libtool
	source = http://download.gnome.org/sources/polkit-gnome/0.105/polkit-gnome-0.105.tar.xz
	source = polkit-gnome-authentication-agent-1.desktop
	sha256sums = 1784494963b8bf9a00eedc6cd3a2868fb123b8a5e516e66c5eda48df17ab9369
	sha256sums = ad19e73ae8eba00a8f66bd9afd3e0e1fd7ca22f716e29b97f097d9c01711e0de

pkgname = polkit-gnome-gtk2

