pkgbase = mpd-no-avahi
	pkgdesc = Flexible, powerful, server-side application for playing music, without Avahi support
	pkgver = 0.17.6
	pkgrel = 1
	url = http://www.musicpd.org/
	install = install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = doxygen
	depends = libao
	depends = ffmpeg
	depends = libmodplug
	depends = audiofile
	depends = libshout
	depends = libmad
	depends = curl
	depends = faad2
	depends = sqlite
	depends = jack
	depends = libmms
	depends = wavpack
	depends = libid3tag
	depends = yajl
	provides = mpd
	conflicts = mpd
	backup = etc/mpd.conf
	source = http://www.musicpd.org/download/mpd/0.17/mpd-0.17.6.tar.xz
	source = tmpfiles.d
	sha1sums = c8cea5cbf87ece252d15457d2249090e73a8d11f
	sha1sums = f4d5922abb69abb739542d8e93f4dfd748acdad7

pkgname = mpd-no-avahi

